<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/navigation.css">
    <link rel="stylesheet" href="../css/checkout.css">
    <link rel="shortcut icon" href="#">
    <title>Lok yin - Checkout</title>
</head>
<body>
    <div id="nav-support"></div>
    <nav>
        <label id="gobackLabel" for="goback">
            <input id="goback" action="action" onclick="window.history.go(-1); return false;" type="submit" value=""/>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/></svg>
        </label>
    </nav>
    <main>
        <form action="/submit" method="POST" style="position: relative">

            <input id="cartInfo" name="cartInfo" type="text" style="display:none; position: absolute; bottom: 0; right:0;">

            <label for="name">ឈ្មោះ</label>
            <input maxlength="20" id="name" required class="user-input" type="text" placeholder="ឈ្មោះ" name="name" oninvalid="this.setCustomValidity('សូមបំពេញឈ្មោះនៅទីនេះ')" oninput="this.setCustomValidity('')">

            <label for="tel">លេខទូរស័ព្ទ</label>
            <input maxlength="15" id='tel' required class="user-input" type="number" placeholder="លេខទូរស័ព្ទ" name="tel" oninvalid="this.setCustomValidity('សូមបំពេញលេខនៅទីនេះ')" oninput="this.setCustomValidity('')">

            <label for="location">ទីតាំង</label>
            <div class="user-input location-input-container" style="padding: 0; border: none;">
                <input maxlength="40" id="location" class="user-input location-input" style="margin: 0;" type="text" placeholder="ទីតាំង" name="location">
                <section id="location-btn" style="margin: 0">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zM7 9c0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.88-2.88 7.19-5 9.88C9.92 16.21 7 11.85 7 9z"/><circle cx="12" cy="9" r="2.5"/></svg>
                </section>
            </div>

            <button id="order-btn">កម្មង់</button>
        </form>

        <div id="recept-container">
            <h3 id="recept-title">វិក័យបត្រ</h3>
            <hr>
            <div id="user-info">
                <span class="user-info-specific">ឈ្មោះ</span><span class="user-name">---</span>
                <span class="user-info-specific">លេខទូរស័ព្ទ</span><span class="user-tel">---</span>
            </div>
            <hr>
            <div id="recept">
                
                <!-- <section class="orders">
                    <div class="orders-name">មីលឿង</div>
                    <div class="orders-qty">x1</div>
                    <div class="orders-price">0.99$</div>
                </section> -->
                
            </div>
            <hr>
            <div id="total">
                <span>Total</span>
                <span class="total"></span>
            </div>
        </div>
    </main>


    <script src="./js/location.js"></script>
    <script>
        const total = document.querySelector(".total");
        const receptContainer = document.querySelector("#recept-container")
        const recept = document.querySelector("#recept")
        const cartInfo = document.querySelector('#cartInfo')

        let result;
        for (let key of Object.keys(sessionStorage)) {
            key ? result += `[${key}, ${sessionStorage.getItem(key)}]+` : ""
        }
        cartInfo.value = result.slice(result.indexOf("["), result.lastIndexOf("]")+1)

        function removeItemOnce(arr, value) {
            var index = arr.indexOf(value);
            if (index > -1) {
            arr.splice(index, 1);
            }
            return arr;
        }
        function updateRecept() {
            let orders = Object.keys(sessionStorage)
            recept.innerHTML = ""
            orders.forEach(function(order) {
                if (order != "IsThisFirstTime_Log_From_LiveServer")
                {QTY = sessionStorage.getItem(order)
                order = JSON.parse(order)
                recept.innerHTML += `<section class="orders">
                    <div class="orders-name">${order.name}</div>
                    <div class="orders-qty">x${QTY}</div>
                    <div class="orders-price">${order.price * QTY}៛</div>
                </section>`}
            })
        }

        removeItemOnce(Object.keys(sessionStorage), "IsThisFirstTime_Log_From_LiveServer").length == 0 ? receptContainer.style.visibility = 'hidden' : updateRecept();

        let allPrice = [];
        for (let orderPrice of document.querySelectorAll(".orders-price")) {
            allPrice.push(parseFloat(orderPrice.innerHTML.slice(0, orderPrice.innerHTML.length - 1)))
        }
        if (allPrice != []) {
            total.innerHTML = `${allPrice.reduce((a, b) => a + b)}៛`;
        } else {total.innerHTML = '0.00$'}
        
        function makeSame(a, b) {
            a.addEventListener('input', function(){
                b.innerHTML = a.value
            })
        }

        makeSame(document.querySelector("#name"), document.querySelector('.user-name'))
        makeSame(document.querySelector("#tel"), document.querySelector('.user-tel'))
    </script>
</body>
</html>